 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="Style.css">
<title>Users Page</title>
</head>
<body>
    <form>
                          </h1> User - DayBreak Retail Management </h1>

 <div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Customers</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Customer Information</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            
          
        </form>
       <h2> Customers Information </h2>
                
                <label for="id"><i class="fas fa-portrait"></i> ID </label>
                <input type="text" id="id" name="id" placeholder="?">

                <label for="fname"><i class="fas fa-file-signature"></i>First Name</label>
                <input type="text" id="name" name="firstname" placeholder="John">

                <label for="lname"><i class="fas fa-file-signature"></i>Last Name</label>
                <input type="text" id="name" name="lastname" placeholder="Doe">

                <label for="email"><i class="fas fa-envelope-square"></i>Email</label>
                <input type="text" id="email" name="email" placeholder="john@example.com">

                    </div>
                    
                <button id="submit" class="btn btn-primary float-right">Submit</button>
      </div>
   </div>   
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>