<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="Style.css">
    <title>Sales Page</title>
</head>
<body>
    <form>
    <h1> Sales </h1>
    <div class="row">
        <div class="col-75">
            <div class="container">

                <h2> Users </h2>
                
                <label for="id"><i class="fas fa-portrait"></i> ID </label>
                <input type="text" id="id" name="id" placeholder="?">

                <label for="fname"><i class="fas fa-file-signature"></i>First Name</label>
                <input type="text" id="name" name="firstname" placeholder="John">

                <label for="lname"><i class="fas fa-file-signature"></i>Last Name</label>
                <input type="text" id="name" name="lastname" placeholder="Doe">

                <label for="email"><i class="fas fa-envelope-square"></i>"></i>Email</label>
                <input type="text" id="email" name="email" placeholder="john@example.com">
        </div>

    <div class="row">
            <div class="col-75">
                <div class="container">
                        <h2> Customers </h2>
                        <label for="userid"><i class="fas fa-portrait"></i>User ID</label>
                        <input type="text" id="user id" name="user id" placeholder="?">

                        <label for="name"><i class="fas fa-file-signature"></i>Name</label>
                        <input type="text" id="name" name="fullname" placeholder="John Doe">
    
                        <label for="email"><i class="fas fa-envelope-square"></i>"></i>Email</label>
                        <input type="text" id="email" name="email" placeholder="john@example.com">

                        <label for="role"><i class="fas fa-user-tag"></i>Role</label>
                        <input type="text" id="role" name="role" placeholder="Role Type">

                        <label for="password"><i class="fas fa-lock"></i>Password</label>
                        <input type="text" id="password" name="password" placeholder="">

                    </div>

                        <div class="row">
                                <div class="col-75">
                                    <div class="container">
                                            <h2> Lots </h2>
                                            <label for="colorhexcode"><i class="fas fa-calendar-day"></i></i>Color Code</label>
                                            <input type="text" id="colorhexcode" name="color code" placeholder="colors">
                    
                                            <label for="totalitemspurchased"><i class="fas fa-shopping-cart"></i>Items</label>
                                            <input type="text" id="item" name="items" placeholder="item">
                        
                                            <label for="purchasedate`"><i class="fas fa-calendar-day"></i> Purchase Date</label>
                                            <input type="text" id="date" name="purchase date" placeholder="calendar date">

                                            <label for="colordes"><i class="fas fa-calendar-day"></i>Color</label>
                                            <input type="text" id="colors" name="colordes" placeholder="colors">

                            <div class="row">
                                <div class="col-75">
                                    <div class="container">
                                            <h2> Items </h2>
                                            <label for="id"><i class="fas fa-key"></i>ID</label>
                                            <input type="text" id="item id" name="item id" placeholder=id>
                    
                                            <label for="description"><i class="fas fa-file-alt"></i>Description</label>
                                            <input type="text" id="des" name="item description" placeholder="description">

                                    </form>
</body>
</html>