<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Users</h5>
          <p>
            <strong>ID</strong>: {{user.userid}}</p>
          <p>
          <p>
            <strong>Name</strong>: {{user.firstname}}</p>
          <p>
            <strong>Email:</strong> {{user.email}}</p>
            <a href="/">â† Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
